.disclaimer.footer {
    max-width: 450px;
    margin: 0 10px;
    font-size: .9em;
}

.disclaimer.footer .column-name {
    color: #c71e78;
}

.disclaimer.body {
    display: flex;
    justify-content: center;
    margin: 75px;
}

.disclaimer.body>div {
    max-width: 750px;
    padding: 20px 40px 25px 40px;
    font-size: 1.8em;
    border: solid 3px #999;
    border-radius: 10px;
    color: #999;
    transform: rotateZ(3deg);
}

.disclaimer.body .official {
    padding-top: 10px;
    padding-bottom: 20px;
}

.disclaimer .official {
    font-weight: bold;
}

.disclaimer .column-name {
    display: inline;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}

.disclaimer .max-potential {
    display: inline;
    font-weight: bold;
}
