.tipjar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}


.tipjar-table th,
.tipjar-table td  {
    padding: 5px 10px;
}

.tipjar .heading .title {
    font-weight: bold;
}

.tipjar .heading .content {
    width: 400px;
    text-align: left;
}

.tipjar .wallet .logo img {
    width: 24px;
    height: 24px;    
}

.tipjar .wallet .address {
    width: 400px;
    text-align: left;
}

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }