.monkey-table th {
    background-color: #FB0084;
    color: #FFF100;
    font-weight: bold;
    text-align: center;
}

.monkey-table th span:hover {
    color: #FFF100;
}

.monkey-table th .Mui-active,
.monkey-table th .Mui-active .MuiTableSortLabel-icon  {
    color: #FFF100;
}

.monkey-table tr:nth-child(even) {
    background-color: bisque;
    font-family: "Poppins";
}

.monkey-table td {
    text-align: center;
}